* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 30%; 
  padding: 50px;
	padding-left: 100px;	
	background-color: white;
}

.box1 {
 
   float: left;
  padding: 50px;
	padding-left: 80px;	
	background-color: white;
}

.a {
	padding-left: 80px;
	height: 10px;
	background-color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}